<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>零件邦-传奇</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
      /* fallback */
      @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
      }

      .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -moz-font-feature-settings: 'liga';
        -moz-osx-font-smoothing: grayscale;
      }

    </style>
    <link rel="stylesheet" href="/styles/bootstrap.min.css" >
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="/styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="/styles/extras.1.1.0.min.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico">
  </head>
  <body class="h-100">
    <div class="container-fluid">
      <div class="row">
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
          <div class="mai
          n-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                <div class="d-table m-auto">
                  <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src="/images/favicon.ico" alt="Shards Dashboard">
                  <span class="d-none d-md-inline ml-1">零件邦之传奇</span>
                </div>
              </a>
            </nav>
          </div>
          <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
            <div class="input-group input-group-seamless ml-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-search"></i>
                </div>
              </div>
              <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search"> </div>
          </form>
          <div class="nav-wrapper">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link " href="/system/index">
                  <i class="material-icons">view_module</i>
                  <span>首页</span>
                </a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" href="/system/task">
                        <i class="material-icons">vertical_split</i>
                        <span>LOGO任务</span>
                    </a>
                </li>
              <li class="nav-item">
                <a class="nav-link active" href="/system/company">
                  <i class="material-icons">vertical_split</i>
                  <span>补全公司信息</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/system/tasks">
                  <i class="material-icons">vertical_split</i>
                  <span>已完成任务列表</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/system/filelib">
                  <i class="material-icons">vertical_split</i>
                  <span>样本提交列表 <span class="badge badge-pill badge-danger" id="yb"></span></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/system/fk">
                  <i class="material-icons">vertical_split</i>
                  <span>反馈信息 <span class="badge badge-pill badge-danger" id="fk"></span></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/system/fiveclass?id=0&comid=0">
                  <i class="material-icons">vertical_split</i>
                  <span>产品综合信息</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/system/myfiveclass">
                  <i class="material-icons">vertical_split</i>
                  <span>已完成SKU列表</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/system/userdata">
                  <i class="material-icons">vertical_split</i>
                  <span>统计数据</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/system/messages">
                  <i class="material-icons">vertical_split</i>
                  <span>消息中心</span>
                </a>
              </li>
            </ul>
          </div>
        </aside>
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <div class="main-navbar sticky-top bg-white">
            <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
              <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
                <div class="input-group input-group-seamless ml-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                  <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search"> </div>
              </form>
              <ul class="navbar-nav border-left flex-row ">
                <li class="nav-item dropdown" ondblclick="logout()">
                  <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="user-avatar rounded-circle mr-2" id="userimage" src="" alt="无图片">
                    <span class="d-none d-md-inline-block" id="username">登录</span>
                    <span style="color: #2d53fe;">双击退出</span>
                  </a>

                </li>
              </ul>
              <nav class="nav">
                <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                  <i class="material-icons">&#xE5D2;</i>
                </a>
              </nav>
            </nav>
          </div>
          <div class="main-content-container container-fluid px-4">
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">零件邦</span>
                <h3 class="page-title">补全公司信息</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-5">
                <div class="card card-small mb-4 pt-3" id="myp" onmouseout="this.style.borderStyle='none';" onmouseover="this.style.borderStyle='solid';">
                  <div class="card-header border-bottom text-center">
                    <h4 class="mb-0" id="company_name_title">公司名称</h4>
                    <div class="mb-3 mx-auto">
                      <input type="hidden" id="company_logo_url">
                      <img  src="" alt="无图片" width="100%" id="company_logo"> </div>
                  </div>
                </div>
                  <div class="card card-small overflow-hidden mb-4" onmouseout="this.style.borderStyle='none';" onmouseover="this.style.borderStyle='solid';">
                    <div class="card-header bg-light">
                      <h6 class="m-0 text-black">品牌</h6>
                    </div>
                    <div class="card-body p-0 pb-3 bg-light text-center">
                      <table class="table table-light mb-0">
                        <thead class="thead-light">
                        <tr>
                          <th width="18%" scope="col" class="border-bottom-0">名称</th>
                          <th width="18%" scope="col" class="border-bottom-0">Logo</th>
                          <th width="18%" scope="col" class="border-bottom-0">国家</th>
                          <th width="18%" scope="col" class="border-bottom-0">省份</th>
                          <th width="18%" scope="col" class="border-bottom-0">城市</th>
                          <th width="10%" scope="col" class="border-bottom-0">操作</th>
                        </tr>
                        </thead>
                        <tbody id="data">
                        </tbody>
                      </table>
                    </div>
                </div>
              </div>
              <div class="col-lg-7" >
                <div class="card card-small mb-4" onmouseout="this.style.borderStyle='none';" onmouseover="this.style.borderStyle='solid';">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">公司信息</h6>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3">
                      <div class="row">
                        <div class="col">
                          <form>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="company_name">中文名称</label>
                                <input  type="text" class="form-control" id="company_name" placeholder="公司名称" > </div>
                              <div class="form-group col-md-6">
                                <label for="company_en">英文名称</label>
                                <input  type="text" class="form-control" id="company_en" placeholder="Company Name" > </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="company_law">法人</label>
                                <input  type="text" class="form-control" id="company_law" placeholder="法人名称" > </div>
                              <div class="form-group col-md-6">
                                <label for="company_capital">注册资本</label>
                                <input  type="text" class="form-control" id="company_capital" placeholder="注册资本"> </div>
                              <div class="form-group col-md-6">
                                <label for="company_capital">全国统一信用代码</label>
                                <input  type="text" class="form-control" id="unified_code" placeholder="全国统一信用代码"> </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="company_url">网站</label>
                                <input  type="text" class="form-control" id="company_url" placeholder="网站" > </div>
                              <div class="form-group col-md-6">
                                <label for="company_url1">其他网站</label>
                                <input  type="text" class="form-control" id="company_url1" placeholder="其他网站"> </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="company_url">纸样本编码</label>
                                <input  type="text" class="form-control" id="paper_code" placeholder="纸样本编码" > </div>
                              <div class="form-group col-md-6">
                                <label for="company_url1">电子样本编码</label>
                                <input  type="text" class="form-control" id="electron_code" placeholder="电子样本编码"> </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-3">
                                <label for="contact_man">联系人</label>
                                <input  type="text" class="form-control" id="contact_man"  placeholder="联系人" > </div>
                              <div class="form-group col-md-3">
                                <label for="contact_phone">电话号码</label>
                                <input  type="text" class="form-control" id="contact_phone"  placeholder="电话号码" > </div>
                              <div class="form-group col-md-3">
                                <label for="contact_phone1">其他电话号码</label>
                                <input  type="text" class="form-control" id="contact_phone1"  placeholder="其他电话号码" > </div>
                              <div class="form-group col-md-3">
                                <label for="contact_email">联系邮箱</label>
                                <input  type="text" class="form-control" id="contact_email" placeholder="联系邮箱" > </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-3">
                                <label for="country">所在国家</label>
                                <select onchange="areas(this.value,'province',0)" id="country" class="form-control">
                                </select>
                              </div>
                              <div class="form-group col-md-3">
                                <label for="province">所在省份</label>
                                  <select onchange="areas(this.value,'city',0)" id="province" class="form-control">
                                  </select>
                              </div>
                              <div class="form-group col-md-3">
                                <label for="city">所在城市</label>
                                  <select  onchange="areas(this.value,'district',0)"  id="city" class="form-control">
                                  </select>
                              </div>
                              <div class="form-group col-md-3">
                                <label for="district">所在区县</label>
                                  <select  id="district" class="form-control">
                                  </select>
                              </div>
                              <input type="hidden" id="id" >

                            </div>
                            <div class="form-group">
                              <label for="company_addr">注册地址</label>
                              <input  type="text" class="form-control" id="company_addr" placeholder="注册地址">
                            </div>

                            <div class="form-row">
                              <div class="form-group col-md-12">
                                <label for="company_desc">公司简介</label>
                                <textarea  class="form-control" id="company_desc" rows="5">描述</textarea>
                              </div>
                            </div>
                            <button type="button" class="btn btn-accent"  onclick="hg(3)">跳过</button>
                            <button type="button" onclick="update()" style="float: right;" class="btn btn-success">下一个</button>&nbsp;&nbsp;&nbsp;&nbsp;
                          </form>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="/scripts/jquery-3.3.1.min.js" ></script>
    <script src="/scripts/popper.min.js" ></script>
    <script src="/scripts/bootstrap.min.js" ></script>
    <script src="/scripts/shards.min.js"></script>
    <script src="/scripts/jquery.sharrre.min.js"></script>
    <script src="/scripts/extras.1.1.0.min.js"></script>
    <script src="/scripts/jquery.cookie.min.js" ></script>
    <script src="/scripts/buttons.js"></script>
    <script src="/scripts/view/company.js"></script>
  </body>
</html>