<!doctype html>
<html class="no-js h-100" lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>零件邦-传奇</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="/styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="/styles/extras.1.1.0.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" media="screen" href="/styles/handsontable.full.css">
    <style type="text/css">
      table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size:11px;
        color:#333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
      }
      table.gridtable th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #dedede;
      }
      table.gridtable td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #ffffff;
      }
      .clear { clear: both; }
    </style>
  </head>
  <body class="h-100">
    <div class="container-fluid">
      <div class="row">
        <!-- End Main Sidebar -->
          <!-- / .main-navbar -->
          <div class="main-content-container container-fluid px-4">
            <!-- Page Header -->
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">零件邦</span>
                <span id="add_user"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div id="bds" style="width: 100%;">
                  <button type="submit" style="float: left;" class="btn btn-accent" onclick="addtable()">添加表达式</button><span id="bdsword" style="margin-left: 10px;margin-top:6px;font-weight: bold;"></span>
                  <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <hr>
                <form id="tables">
                </form>
                <div class="clear"></div>
                <input type="hidden" id="coreid"  th:value="${id}">
                <button type="submit" class="btn btn-accent" onclick="save()">保存数据</button>
                        </div>
                      </div>
              </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
    <script src="/scripts/extras.1.1.0.min.js"></script>
    <script src="/scripts/shards-dashboards.1.1.0.min.js"></script>
    <script src="/scripts/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="/scripts/handsontable.full.js"></script>
  <script>
    var data=[];
    function changecodename(obj,value) {
      $("#codename"+value).html(obj.value);
      bdsword();
    }
    addtable();
    function addtable() {
      data.push({"index":1,"col":[],"colsize":2,"rowsize":0});
      $("#bds").append("<div id=\"bds"+data.length+"\" style=\"margin: 10px;width: 82px;border: 1px solid grey;float: left;\">" +
              "<select style=\"width: 80px;border-style:none;\" id='bdstype"+data.length+"' onchange='bdsword()'>\n" +
              "<option value=\"\">默认</option>\n" +
              "<option value=\".\">.</option>\n" +
              "<option value=\"-\">-</option>\n" +
              "<option value=\"*\">*</option>\n" +
              "</select><br>\n" +
              "<input id='bdsname"+data.length+"' oninput='changecodename(this,"+data.length+")' style=\"width: 80px;border-style:none;\" value='A"+data.length+"' type='text'  placeholder='中文名称'>\n" +
              "<button type=\"button\" style=\"width: 80px;border-style:none;border-radius: 0\" class=\"btn btn-sm btn-danger \" onclick=\"rmbds("+data.length+")\">删除</button>"+
              "</div>");
      $("#tables").append(" <table  class=\"gridtable\" style='float: left;margin: 10px;' id=\"gridtable"+data.length+"\" >\n" +
              "<tr id=\"a"+data.length+"\">\n" +
              "<td><span style='font-weight: bold;color: red;' id='codename"+data.length+"'>[A"+data.length+"]</span>/中文名称</td>\n" +
              "<td rowspan=\"5\" id=\"addtd"+data.length+"\">\n" +
              "<button type=\"button\" class=\"btn btn-sm btn-success \" onclick=\"addcs('"+data.length+"')\">+</button>\n" +
              "</td>\n" +
              "</tr>\n" +
              "<tr id=\"b"+data.length+"\"><td>英文名称</td></tr>\n" +
              "<tr id=\"c"+data.length+"\"><td>代码</td></tr>\n" +
              "<tr id=\"d"+data.length+"\"><td>单位</td></tr>\n" +
              "<tr id=\"e"+data.length+"\"><td>数据类型</td></tr>\n" +
              "<tr id=\"addth"+data.length+"\">\n" +
              "<td colspan=\"2\"><center> <button type=\"button\" class=\"btn btn-sm btn-success \" onclick=\"addrow('"+data.length+"')\" >+</button></center></td>\n" +
              "</tr>\n" +
              "</table>")
          bdsword();
    }

    function addcs(value) {
     var colsize=data[value-1].colsize= data[value-1].colsize+1;
      var index=data[value-1].index;
      data[value-1].col.push(index);
      $("#addtd"+value).remove();
      $("#addth"+value).remove();
      $("#gridtable"+value).append(" <tr id=\"addth"+value+"\">\n" +
              "<td colspan=\""+colsize+"\"><center> <button type=\"button\" class=\"btn btn-sm btn-success \" onclick=\"addrow("+value+")\">+</button></center></td>\n" +
              "</tr>");
      $("#a"+value).append("<td  id='a"+value+index+"'><input  id='avalue"+value+index+"' type='text' style=\"border-style:none;width: 100px;\" placeholder='中文名称'></td> <td rowspan=\"5\" id=\"addtd"+value+"\"><button type=\"button\" class=\"btn btn-sm btn-success \" onclick=\"addcs("+value+")\">+</button></td>");
      $("#b"+value).append("<td  id='b"+value+index+"'><input  id='bvalue"+value+index+"' type='text' style=\"border-style:none;width: 100px;\" placeholder='英文名称'></td>");
      $("#c"+value).append("<td id='c"+value+index+"'><input  id='cvalue"+value+index+"' type='text' style=\"border-style:none;width: 100px;\" placeholder='代码'></td>");
      var settings = {
        "async": true,
        "crossDomain": true,
        "url": "/basedata/parameter",
        "method": "GET",
        "processData": false
      }
      $.ajax(settings).done(function (response) {
        var unit="<select id='dvalue"+value+index+"'>"
        response.data.unit.forEach(function (val) {
          unit=unit+"<option value='"+val.unit_name+"("+val.unit+")"+"'>"+val.unit_name+"("+val.unit+")"+"</option>"
        });
        unit=unit+"</select>";
        $("#d"+value).append("<td  id='d"+value+index+"'>"+unit+"</td>");
        var datatype="<select  id='evalue"+value+index+"'>"
        response.data.datatype.forEach(function (val) {
          datatype=datatype+"<option value='"+val.datatype+"'>"+val.datatype+"</option>"
        });
        datatype=datatype+"</select>";
        $("#e"+value).append("<td ondblclick='rm("+value+index+","+value+")' id='e"+value+index+"'>"+datatype+"</td>");
        data[value-1].index=data[value-1].index+1;
      });
    }
    function addrow(value) {
      var tds="";
        for(var i=0;i<data[value-1].col.length;i++){
            var index= data[value-1].col[i];
            if($("#avalue"+value+index).length>0){
                if(i==0){
                    tds+="<td  id='cs"+value+data[value-1].rowsize+index+i+"h'><input id='csvalue"+value+data[value-1].rowsize+index+i+"h' type='text' style=\"border-style:none;width: 100px;\" placeholder='参数'></td>";
                }
                tds+="<td  id='cs"+value+data[value-1].rowsize+index+i+"'><input id='csvalue"+value+data[value-1].rowsize+index+i+"' type='text' style=\"border-style:none;width: 100px;\" placeholder='参数'></td>";
            }
        }
      tds+="<td id='cs"+value+data[value-1].rowsize+i+"'><button type=\"button\" class=\"btn btn-sm btn-danger \" onclick=\"rmrow('csrow"+value+data[value-1].rowsize+"')\">X</button></td>";
      $("#gridtable"+value).append("<tr id=\"csrow"+value+data[value-1 ].rowsize+"\">"+tds+"</tr>");
      data[value-1].rowsize=data[value-1].rowsize+1;
      $("#addth"+value).remove();
      $("#gridtable"+value).append("<tr id=\"addth"+value+"\"><td colspan=\""+data[value-1].colsize+"\"><center><button type=\"button\" class=\"btn btn-sm btn-success \" onclick=\"addrow("+value+")\">+</button></center></td></tr>");
    }

    function rm(obj,value) {
      $("#a"+obj).remove()
      $("#b"+obj).remove()
      $("#c"+obj).remove()
      $("#d"+obj).remove()
      $("#e"+obj).remove()
      var colsize=data[value-1].colsize= data[value-1].colsize-1;
      $("#addth"+value).remove();
      $("#gridtable"+value).append(" <tr id=\"addth"+value+"\">\n" +
              "<td colspan=\""+colsize+"\"><center> <button type=\"button\" class=\"btn btn-sm btn-success \" onclick=\"addrow("+value+")\">+</button></center></td></tr>");
    }

    function rmrow(value) {
      $("#"+value).remove()
    }

    function rmbds(value) {
      $("#bds"+value).remove();
      $("#gridtable"+value).remove();
      bdsword();
    }

    function bdsword() {
      var word="   ";
      for (var i=1;i<=data.length;i++){if($("#bdsname"+i).val()!=""&&$("#bdsname"+i).val()!=undefined) {word += $("#bdstype"+i).val() + "  {" + $("#bdsname"+i).val() + "}  ";}}
      $("#bdsword").html(word);
    }
    
    function save() {
      var bdsdata= new Array();
      var sku= new Array();
      for (var x=0;x<data.length;x++){
        var skudata =  new Array();
        for(var i=0;i<data[x].rowsize;i++){
                var rowdata =  new Array();
                for (var a = 0; a < data[x].col.length; a++) {
                    if($("#avalue" +(x+1)+data[x].col[a]).length>0) {
                    var coldata = {};
                        coldata.sku = $("#csvalue" + (x+1)+i+data[x].col[0]+ "0h").val();
                        coldata.value = $("#csvalue" + (x+1)+ i+data[x].col[a]+ a).val();
                        coldata.a=$("#avalue" +(x+1)+data[x].col[a]).val();
                        coldata.b=$("#bvalue" +(x+1)+data[x].col[a]).val();
                        coldata.c=$("#cvalue" +(x+1)+data[x].col[a]).val();
                        coldata.d=$("#dvalue" +(x+1)+data[x].col[a]).val();
                        coldata.e=$("#evalue" +(x+1)+data[x].col[a]).val();
                    rowdata.push(coldata);
                }
            }
            skudata.push(rowdata);
        }
        bdsdata.push(skudata);
      }
      for(var i=0;i<bdsdata.length;i++){
        for (var a=0;a<bdsdata.length;a++){
          if(i<a) {
            for (var b=0;b<bdsdata[i].length;b++){
              for (var d=0;d<bdsdata[a].length;d++){
                var tsku = [];
                var ad = bdsdata[i][b];
                ad.forEach(function (v, c) {
                  tsku.push(v);
                });
                var cd = bdsdata[a][d];
                cd.forEach(function (v, c) {
                  tsku.push(v);
                });
                sku.push(tsku);
              }
            }
          }
        }
      }
    }
  </script>
  </body>
</html>