<!doctype html>
<html class="no-js h-100" lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>零件邦-传奇</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
      /* fallback */
      @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
      }

      .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -moz-font-feature-settings: 'liga';
        -moz-osx-font-smoothing: grayscale;
      }

    </style>
    <link rel="stylesheet" href="/styles/bootstrap.min.css" >
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="/styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="/styles/extras.1.1.0.min.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" media="screen" href="/styles/alert.css">
    <link href="/styles/font-awesome.css" rel="stylesheet">
    <style type="text/css">
      table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size:11px;
        color:#333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
      }
      table.gridtable th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #dedede;
      }
      table.gridtable td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #ffffff;
      }
    </style>
  </head>
  <body class="h-100" style="font-size: 12px;">
    <div class="container-fluid">
      <div class="row">
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0" id="menu">
          <div class="mai
          n-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                <div class="d-table m-auto">
                  <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src="/images/favicon.ico" alt="Shards Dashboard">
                  <span class="d-none d-md-inline ml-1" >零件邦之传奇</span>
                </div>
              </a>

            </nav>
          </div>
          <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
            <div class="input-group input-group-seamless ml-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-search"></i>
                </div>
              </div>
              <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search"> </div>
          </form>
          <div class="nav-wrapper">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link " href="/system/index">
                  <i class="material-icons">view_module</i>
                  <span>首页</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/system/company">
                  <i class="material-icons">vertical_split</i>
                  <span>补全公司信息</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/system/tasks">
                  <i class="material-icons">vertical_split</i>
                  <span>已完成任务列表</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/system/filelib">
                  <i class="material-icons">vertical_split</i>
                  <span>样本提交列表</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/system/fk">
                  <i class="material-icons">vertical_split</i>
                  <span>反馈信息</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/system/fiveclass?id=0">
                  <i class="material-icons">vertical_split</i>
                  <span>产品综合信息</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/system/userdata">
                  <i class="material-icons">vertical_split</i>
                  <span>统计数据</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/system/messages">
                  <i class="material-icons">vertical_split</i>
                  <span>消息中心</span>
                </a>
              </li>
            </ul>
          </div>
        </aside>
        <main id="context" class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <div class="main-content-container container-fluid px-4">
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle" onclick="hidemenu()">零件邦</span>
                <span id="add_user"></span>
              </div>
            </div>
            <div class="row"><h6 class="m-0" id="classname" ></h6></div>
            <div class="row">
              <div class="col-lg-6" >
                <div class="col-lg-12" >
                  <img src="" width="20%;" alt="logo" id="companylogo" >
                  <input type="hidden" id="coreid" th:value="${id}">
                  <p id="company"></p>
                </div>
                <div class="col-lg-12"  >
                      <div class="row">
                        <div class="col">
                          <form>
                            <div class="form-row" >
                              <label>LOGO图片</label>
                              <div id="classlogo"  class="form-group col-md-12">
                                <img src="" width="80px;" alt="logo" id="logo" >
                            </div>
                            </div>
                            <div class="form-row"  >
                              <label>图片信息</label>
                              <div id="imgs"  class="form-group col-md-12">
                                <img src="https://web-site-1252739071.cos.ap-shanghai.myqcloud.com/product_class/images/201906201756133105692658530968103.png" width="20px;" style="margin-top: 30px;" ><span style="margin-top: 30px;">粘贴处</span>
                              </div>
                            </div>
                            <div class="form-row" >
                              <div class="form-group col-md-12">
                                <label>产品简介</label>
                                  <textarea style="width: 100%;height: 100px;" id="desc" ></textarea>
                                <button type="button" class="btn btn-sm btn-success " onclick="update()">保存基础信息</button>
                              </div>
                            </div>

                          </form>
                        </div>
                </div>
               </div>
                </div>
              <div class="col-lg-6"  id="level5space" >
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <input type="hidden" id="hidden" value="0">
    <script src="/scripts/jquery-3.3.1.min.js" ></script>
    <script src="/scripts/popper.min.js" ></script>
    <script src="/scripts/bootstrap.min.js" ></script>
    <script src="/scripts/shards.min.js"></script>
    <script src="/scripts/jquery.sharrre.min.js"></script>
    <script src="/scripts/extras.1.1.0.min.js"></script>
    <script src="/scripts/jquery.cookie.min.js" ></script>
    <script src="/scripts/buttons.js"></script>
    <script src="/scripts/view/fiveclass.js"></script>
    <script src="/scripts/alert.js"></script>
  </body>
</html>