<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>零件邦-传奇</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
      /* fallback */
      @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
      }

      .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -moz-font-feature-settings: 'liga';
        -moz-osx-font-smoothing: grayscale;
      }

    </style>
    <link rel="stylesheet" href="/styles/bootstrap.min.css" >
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="/styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="/styles/extras.1.1.0.min.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" media="screen" href="/styles/handsontable.full.css">
  </head>
  <body class="h-100">
    <div class="container-fluid">
      <div class="row">
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
          <div class="mai
          n-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                <div class="d-table m-auto">
                  <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src="/images/favicon.ico" alt="Shards Dashboard">
                  <span class="d-none d-md-inline ml-1">零件邦之传奇</span>
                </div>
              </a>

            </nav>
          </div>
          <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
            <div class="input-group input-group-seamless ml-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-search"></i>
                </div>
              </div>
              <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search"> </div>
          </form>
          <div class="nav-wrapper">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link " href="/system/index">
                  <i class="material-icons">view_module</i>
                  <span>首页</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/system/company">
                  <i class="material-icons">vertical_split</i>
                  <span>补全公司信息</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/system/tasks">
                  <i class="material-icons">vertical_split</i>
                  <span>已完成任务列表</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/system/filelib">
                  <i class="material-icons">vertical_split</i>
                  <span>样本提交列表 <span class="badge badge-pill badge-danger" id="yb"></span></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/system/fk">
                  <i class="material-icons">vertical_split</i>
                  <span>反馈信息 <span class="badge badge-pill badge-danger" id="fk"></span></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/system/fiveclass?id=0">
                  <i class="material-icons">vertical_split</i>
                  <span>产品综合信息</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/system/userdata">
                  <i class="material-icons">vertical_split</i>
                  <span>统计数据</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/system/messages">
                  <i class="material-icons">vertical_split</i>
                  <span>消息中心</span>
                </a>
              </li>
            </ul>
          </div>
        </aside>
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <div class="main-navbar sticky-top bg-white">
            <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
              <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
                <div class="input-group input-group-seamless ml-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                  <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search"> </div>
              </form>
              <ul class="navbar-nav border-left flex-row ">
                <li class="nav-item dropdown" ondblclick="logout()">
                  <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="user-avatar rounded-circle mr-2" id="userimage" src="" alt="无图片">
                    <span class="d-none d-md-inline-block" id="username">登录</span>
                    <span style="color: #2d53fe;">双击退出</span>
                  </a>
                </li>
              </ul>
              <nav class="nav">
                <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                  <i class="material-icons">&#xE5D2;</i>
                </a>
              </nav>
            </nav>
          </div>
          <div class="main-content-container container-fluid px-4">
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">零件邦</span>
                <span id="add_user"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-5"  id="level5space" >
                <div class="card card-small mb-4 pt-3" id="myp" >
                  <div class="card-header border-bottom">
                    <h4 class="m-0" id="classname" style="font-weight: bold;color: red;">图文编辑(粘贴赋值)</h4>
                  </div>
                  <div class="card-header border-bottom text-center">
                    <h4 class="mb-0" id="company_name_title">图片粘贴处</h4>
                    <div class="mb-3 mx-auto">
                      <input type="hidden" id="images_url">
                      <img  src="" alt="无图片" width="60%" id="images"> </div>
                  </div>
                  <div class="card-header border-bottom text-center">
                    <h4 class="mb-0">文字编辑处</h4>
                    <div class="mb-3 mx-auto">

                      <textarea style="width: 80%;height: 100px;" id="word"></textarea> </div>
                  </div>
                  <div class="card-header border-bottom text-center">
                    <h4 class="mb-0">链接编辑处</h4>
                    <div class="mb-3 mx-auto">

                      <input type="text" style="width: 70%;" id="url"/> </div>
                  </div>
                </div>

                <button type="button" class="mb-2 btn btn-sm btn-primary mr-1" onclick="savetable()">发送邮件</button>
                <div id="example"></div>
              </div>
              <div class="col-lg-7" id="context">
                <div style="width:100%;max-width: 750px;margin:0 auto;background-color: #f3f6f6">
                  <section style="width:100%;margin:0 auto 20px;">
                    <!-- <h2 class="section-title">通栏banner图片</h2> -->
                    <div style="width:100%;">
                      <img style="width:100%;" onclick="changeimg(this)" src="https://iph.href.lu/600x200?text=Banner" alt="您正在查找这样的信息吗？">
                    </div>
                  </section>
                  <section style="width:100%;margin:0 auto 20px;">
                    <h2 style="font-weight: bold;font-size: 18px; line-height: 32px;color: #f70;" onclick="changeword(this)">您在找这些零件吗？</h2>
                    <div class="first-list" id="achat" ondblclick="addchat('achat')">
                      <h4 style="display: block;margin:0 auto;text-align: center;font-size: 13px;line-height: 32px;color: #555;">
                        <i>———— </i> <span  onclick="changeword(this)">轻松下载各分类零件</span> <i> ————</i>
                      </h4>
                      <ul style="list-style: none;display: flex;margin:0;padding:0" >
                        <li style="flex: 1;margin-bottom:10px;list-style: none;">
                          <div style="width:80%;margin:0 auto;">
                            <img style="width: 100%;" onclick="changeimg(this)" src="https://iph.href.lu/200x200?text=%E4%BA%A7%E5%93%81%E5%9B%BE%E7%89%87">
                          </div>
                          <div style="text-align: center;">
                            <p style="font-size: 14px;color:#444;" onclick="changeword(this)">零件分类名称</p>
                          </div>
                          <div style="text-align: center;">
                            <a ondrag="changeurl(this)" style="display:block;width:90%;margin: 10px auto;padding: 10px 0;color:#fff;background-color: #f70;font-size:12px;text-decoration:none;" href="#">
                              跳转对应内容>>
                            </a>
                          </div>
                        </li>
                        <li style="flex: 1;margin-bottom:10px;list-style: none;">
                          <div style="width:80%;margin:0 auto;">
                            <img style="width: 100%;" onclick="changeimg(this)" src="https://iph.href.lu/200x200?text=%E4%BA%A7%E5%93%81%E5%9B%BE%E7%89%87">
                          </div>
                          <div style="text-align: center;">
                            <p style="font-size: 14px;color:#444;" onclick="changeword(this)">零件分类名称</p>
                          </div>
                          <div style="text-align: center;">
                            <a ondrag="changeurl(this)" style="display:block;width:90%;margin: 10px auto;padding: 10px 0;color:#fff;background-color: #f70;font-size:12px;text-decoration:none;" href="#">
                              跳转对应内容>>
                            </a>
                          </div>
                        </li>
                        <li style="flex: 1;margin-bottom:10px;list-style: none;">
                          <div style="width:80%;margin:0 auto;">
                            <img style="width: 100%;" onclick="changeimg(this)" src="https://iph.href.lu/200x200?text=%E4%BA%A7%E5%93%81%E5%9B%BE%E7%89%87">
                          </div>
                          <div style="text-align: center;">
                            <p style="font-size: 14px;color:#444;" onclick="changeword(this)">零件分类名称</p>
                          </div>
                          <div style="text-align: center;">
                            <a ondrag="changeurl(this)" style="display:block;width:90%;margin: 10px auto;padding: 10px 0;color:#fff;background-color: #f70;font-size:12px;text-decoration:none;" href="#">
                              跳转对应内容>>
                            </a>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </section>
                  <section style="width:100%;margin:0 auto 20px;">
                    <h2 style="font-weight: bold;font-size: 18px; line-height: 32px;color: #f70;" onclick="changeword(this)">这些是品牌零件的生产商</h2>
                    <div class="second-list" id="addchat" ondblclick="addchat('addchat')">
                      <h4 style="display: block;margin:0 auto;text-align: center;font-size: 13px;line-height: 32px;color: #555;">
                        <i>———— </i> <span  onclick="changeword(this)">已入驻的品牌</span> <i> ————</i>
                      </h4>
                      <ul style="list-style: none;display: flex;margin:0;padding:0"  >
                        <li style="flex: 1;margin-bottom:10px;list-style: none;">
                          <div style="width:90%;margin:0 auto;">
                            <img style="width: 100%;" onclick="changeimg(this)" src="https://iph.href.lu/600x200?text=%E5%85%AC%E5%8F%B8logo">
                          </div>
                          <div style="width:90%;margin:0 auto;">
                            <p style="position: relative;font-size: 13px;line-height: 18px;max-height: 108px;overflow: hidden;" onclick="changeword(this)">
                              制造、加工、经销：刃具、工具；自产产品的出口和自用产品的进口业务*制造、加工、经销：刃具、工具；自产产品的出口和自用产品的进口业
                            </p>
                          </div>
                          <div style="text-align: center;">
                            <a ondrag="changeurl(this)" style="display:block;width:90%;margin: 10px auto;padding: 10px 0;color:#fff;background-color: #f70;font-size:12px;text-decoration:none;" href="#">
                              跳转对应内容>>
                            </a>
                          </div>
                        </li>
                        <li style="flex: 1;margin-bottom:10px;list-style: none;">
                          <div style="width:90%;margin:0 auto;">
                            <img onclick="changeimg(this)" style="width: 100%;" src="https://iph.href.lu/600x200?text=%E5%85%AC%E5%8F%B8logo">
                          </div>
                          <div style="width:90%;margin:0 auto;">
                            <p style="position: relative;font-size: 13px;line-height: 18px;max-height: 108px;overflow: hidden;" onclick="changeword(this)">
                              制造、加工、经销：刃具、工具；自产产品的出口和自用产品的进口业务*制造、加工、经销：刃具、工具；自产产品的出口和自用产品的进口业务*制造、加工、经销：刃具、工具；自产产品的出口和自用产品的进口业务*
                            </p>
                          </div>
                          <div style="text-align: center;">
                            <a ondrag="changeurl(this)"  style="display:block;width:90%;margin: 10px auto;padding: 10px 0;color:#fff;background-color: #f70;font-size:12px;text-decoration:none;" href="#">
                              跳转对应内容>>
                            </a>
                          </div>
                        </li>
                        <li style="flex: 1;margin-bottom:10px;list-style: none;">
                          <div style="width:90%;margin:0 auto;">
                            <img onclick="changeimg(this)" style="width: 100%;" src="https://iph.href.lu/600x200?text=%E5%85%AC%E5%8F%B8logo">
                          </div>
                          <div style="width:90%;margin:0 auto;">
                            <p style="position: relative;font-size: 13px;line-height: 18px;max-height: 108px;overflow: hidden;" onclick="changeword(this)">
                              制造、加工、经销：刃具、工具；自产产品的出口和自用产品的进口业务*制造、加工、经销：刃具、工具；自产产品的出口和自用产品的进口业务*制造、加工、经销：刃具、工具；自产产品的出口和自用产品的进口业务*制造、加工、经销：刃具、工具；自产产品的出口和自用产品的进口业务*制造、加工、经销：刃具、工具；自产产品的出口和自用产品的进口业务*
                            </p>
                          </div>
                          <div style="text-align: center;">
                            <a ondrag="changeurl(this)" style="display:block;width:90%;margin: 10px auto;padding: 10px 0;color:#fff;background-color: #f70;font-size:12px;text-decoration:none;" href="#">
                              跳转对应内容>>
                            </a>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </section>
                  <section style="width:100%;margin:0 auto 20px;">
                    <h2 style="font-weight: bold;font-size: 18px; line-height: 32px;color: #f70;"  onclick="changeword(this)">我们在不断进步!</h2>
                    <div>
                      <h4 style="display: block;margin:0 auto;text-align: center;font-size: 13px;line-height: 32px;color: #555;">
                        <i>———— </i> <span  onclick="changeword(this)">轻松选型，找零件邦</span> <i> ————</i>
                      </h4>
                      <hr>
                      <div>
                        <p  onclick="changeword(this)">零件邦简介零件邦简介零件邦简介零件邦简介</p>
                        <a   onmouseout="changeword(this)" onmousemove="changeurl(this)" href="">链接</a>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="/scripts/jquery-3.3.1.min.js" ></script>
    <script src="/scripts/popper.min.js" ></script>
    <script src="/scripts/bootstrap.min.js" ></script>
    <script src="/scripts/shards.min.js"></script>
    <script src="/scripts/jquery.sharrre.min.js"></script>
    <script src="/scripts/extras.1.1.0.min.js"></script>
    <script src="/scripts/jquery.cookie.min.js" ></script>
    <script src="/scripts/buttons.js"></script>
    <script src="/scripts/handsontable.full.js"></script>
    <script src="/scripts/view/messages.js"></script>
  </body>
</html>