<!doctype html>
<html class="no-js h-100" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>零件邦-传奇</title>
    <style>
      /* fallback */
      @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
      }

      .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -moz-font-feature-settings: 'liga';
        -moz-osx-font-smoothing: grayscale;
      }

    </style>
    <link rel="stylesheet" href="/styles/bootstrap.min.css" >
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="/styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="/styles/extras.1.1.0.min.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico">
  </head>
  <body class="h-100">

    <div class="container-fluid">
      <div class="row">
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
          <div class="main-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                <div class="d-table m-auto">
                  <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src="/images/favicon.ico" alt="Shards Dashboard">
                  <span class="d-none d-md-inline ml-1">零件邦之传奇</span>
                </div>
              </a>
            </nav>
          </div>
          <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
            <div class="input-group input-group-seamless ml-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-search"></i>
                </div>
              </div>
              <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search"> </div>
          </form>
          <div class="nav-wrapper">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link " href="/system/index">
                  <i class="material-icons">view_module</i>
                  <span>首页</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/system/task">
                  <i class="material-icons">vertical_split</i>
                  <span>LOGO任务</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/system/company">
                  <i class="material-icons">vertical_split</i>
                  <span>补全公司信息</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link =" href="/system/tasks">
                  <i class="material-icons">vertical_split</i>
                  <span>已完成任务列表</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/system/filelib">
                  <i class="material-icons">vertical_split</i>
                  <span>样本提交列表 <span class="badge badge-pill badge-danger" id="yb"></span></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/system/fk">
                  <i class="material-icons">vertical_split</i>
                  <span>反馈信息 <span class="badge badge-pill badge-danger" id="fk"></span></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/system/fiveclass?id=0&comid=0">
                  <i class="material-icons">vertical_split</i>
                  <span>产品综合信息</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/system/myfiveclass">
                  <i class="material-icons">vertical_split</i>
                  <span>已完成SKU列表</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/system/userdata">
                  <i class="material-icons">vertical_split</i>
                  <span>统计数据</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/system/messages">
                  <i class="material-icons">vertical_split</i>
                  <span>消息中心</span>
                </a>
              </li>
            </ul>
          </div>
        </aside>
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <div class="main-navbar sticky-top bg-white">
            <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
              <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
                <div class="input-group input-group-seamless ml-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                  <input class="navbar-search form-control" id="searchtext" oninput="init()" type="text" placeholder="输入关键字搜索内容" aria-label="Search"> </div>
              </form>
              <ul class="navbar-nav border-left flex-row ">
                <li class="nav-item dropdown" ondblclick="logout()">
                  <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="user-avatar rounded-circle mr-2" id="userimage" src="" alt="无图片">
                    <span class="d-none d-md-inline-block" id="username">登录</span>
                    <span style="color: #2d53fe;">双击退出</span>
                  </a>
                </li>
              </ul>
              <nav class="nav">
                <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                  <i class="material-icons">&#xE5D2;</i>
                </a>
              </nav>
            </nav>
          </div>
          <div class="main-content-container container-fluid px-4">
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">零件邦  <button type="button" onclick="save(this)"  class="mb-2 btn btn-outline-success mr-2">  提交信息 </button></span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4" >
                <div class="card card-small overflow-hidden mb-4">
                  <div class="card-header ">
                    <h6 class="m-0 text"><button type="submit"  class="btn btn-accent" onclick="value1()">产地</button></h6>
                  </div>
                  <div class="card-body p-0 pb-3 " >
                    <table class="table mb-0">
                      <thead class="thead">
                      <tr>
                        <th width="45%" scope="col" class="border-bottom-0">SKU规则</th>
                        <th width="35%" scope="col" class="border-bottom-0">产地</th>
                        <th width="20%" scope="col" class="border-bottom-0">操作</th>
                      </tr>
                      </thead>
                      <tbody id="value1"></tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4" >
                <div class="card card-small overflow-hidden mb-4">
                  <div class="card-header ">
                    <h6 class="m-0 text"><button type="submit"  class="btn btn-accent" onclick="value2()">样品单价</button></h6>
                  </div>
                  <div class="card-body p-0 pb-3  ">
                    <table class="table mb-0">
                      <thead class="thead">
                      <tr>
                        <th width="45%" scope="col" class="border-bottom-0">SKU规则</th>
                        <th width="35%" scope="col" class="border-bottom-0">样品单价</th>
                        <th width="20%" scope="col" class="border-bottom-0">操作</th>
                      </tr>
                      </thead>
                      <tbody id="value2"></tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4" >
                <div class="card card-small overflow-hidden mb-4">
                  <div class="card-header ">
                    <h6 class="m-0 text"><button type="submit"  class="btn btn-accent" onclick="value3()">批量价格</button></h6>
                  </div>
                  <div class="card-body p-0 pb-3  ">
                    <table class="table mb-0">
                      <thead class="thead">
                      <tr>
                        <th width="45%" scope="col" class="border-bottom-0">SKU规则</th>
                        <th width="35%" scope="col" class="border-bottom-0">批量价格</th>
                        <th width="20%" scope="col" class="border-bottom-0">操作</th>
                      </tr>
                      </thead>
                      <tbody id="value3"></tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4" >
                <div class="card card-small overflow-hidden mb-4">
                  <div class="card-header ">
                    <h6 class="m-0 text"><button type="submit"  class="btn btn-accent" onclick="value4()">最小包装量</button></h6>
                  </div>
                  <div class="card-body p-0 pb-3  ">
                    <table class="table mb-0">
                      <thead class="thead">
                      <tr>
                        <th width="45%" scope="col" class="border-bottom-0">SKU规则</th>
                        <th width="35%" scope="col" class="border-bottom-0">最小包装量</th>
                        <th width="20%" scope="col" class="border-bottom-0">操作</th>
                      </tr>
                      </thead>
                      <tbody id="value4"></tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4" >
                <div class="card card-small overflow-hidden mb-4">
                  <div class="card-header ">
                    <h6 class="m-0 text"><button type="submit"  class="btn btn-accent" onclick="value5()">最小起订量</button></h6>
                  </div>
                  <div class="card-body p-0 pb-3  ">
                    <table class="table mb-0">
                      <thead class="thead">
                      <tr>
                        <th width="45%" scope="col" class="border-bottom-0">SKU规则</th>
                        <th width="35%" scope="col" class="border-bottom-0">最小起订量</th>
                        <th width="20%" scope="col" class="border-bottom-0">操作</th>
                      </tr>
                      </thead>
                      <tbody id="value5"></tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4" >
                <div class="card card-small overflow-hidden mb-4">
                  <div class="card-header ">
                    <h6 class="m-0 text"><button type="submit"  class="btn btn-accent" onclick="value6()">质保时间</button></h6>
                  </div>
                  <div class="card-body p-0 pb-3  ">
                    <table class="table mb-0">
                      <thead class="thead">
                      <tr>
                        <th width="45%" scope="col" class="border-bottom-0">SKU规则</th>
                        <th width="35%" scope="col" class="border-bottom-0">质保时间</th>
                        <th width="20%" scope="col" class="border-bottom-0">操作</th>
                      </tr>
                      </thead>
                      <tbody id="value6"></tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4" >
                <div class="card card-small overflow-hidden mb-4">
                  <div class="card-header ">
                    <h6 class="m-0 text"><button type="submit"  class="btn btn-accent" onclick="value7()">样品</button></h6>
                  </div>
                  <div class="card-body p-0 pb-3  ">
                    <table class="table mb-0">
                      <thead class="thead">
                      <tr>
                        <th width="45%" scope="col" class="border-bottom-0">SKU规则</th>
                        <th width="35%" scope="col" class="border-bottom-0">样品</th>
                        <th width="20%" scope="col" class="border-bottom-0">操作</th>
                      </tr>
                      </thead>
                      <tbody id="value7"></tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4" >
                <div class="card card-small overflow-hidden mb-4">
                  <div class="card-header ">
                    <h6 class="m-0 text"><button type="submit"  class="btn btn-accent" onclick="value8()">纸质样本</button></h6>
                  </div>
                  <div class="card-body p-0 pb-3  ">
                    <table class="table mb-0">
                      <thead class="thead">
                      <tr>
                        <th width="45%" scope="col" class="border-bottom-0">SKU规则</th>
                        <th width="35%" scope="col" class="border-bottom-0">纸质样品</th>
                        <th width="20%" scope="col" class="border-bottom-0">操作</th>
                      </tr>
                      </thead>
                      <tbody id="value8"></tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4" >
                <div class="card card-small overflow-hidden mb-4">
                  <div class="card-header ">
                    <h6 class="m-0 text"><button type="submit"  class="btn btn-success" onclick="value9()">PDF样本</button></h6>
                  </div>
                  <div class="card-body p-0 pb-3  ">
                    <table class="table mb-0">
                      <thead class="thead">
                      <tr>
                        <th width="45%" scope="col" class="border-bottom-0">SKU规则</th>
                        <th width="35%" scope="col" class="border-bottom-0">PDF样本</th>
                        <th width="20%" scope="col" class="border-bottom-0">操作</th>
                      </tr>
                      </thead>
                      <tbody id="value9"></tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4" >
                <div class="card card-small overflow-hidden mb-4">
                  <div class="card-header ">
                    <h6 class="m-0 text"><button type="submit"  class="btn btn-success" onclick="value10()">3D模型</button></h6>
                  </div>
                  <div class="card-body p-0 pb-3  ">
                    <table class="table mb-0">
                      <thead class="thead">
                      <tr>
                        <th width="45%" scope="col" class="border-bottom-0">SKU规则</th>
                        <th width="35%" scope="col" class="border-bottom-0">3D模型</th>
                        <th width="20%" scope="col" class="border-bottom-0">操作</th>
                      </tr>
                      </thead>
                      <tbody id="value10"></tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4" >
                <div class="card card-small overflow-hidden mb-4">
                  <div class="card-header ">
                    <h6 class="m-0 text"><button type="submit"  class="btn btn-success" onclick="value11()">2D图纸</button></h6>
                  </div>
                  <div class="card-body p-0 pb-3  ">
                    <table class="table mb-0">
                      <thead class="thead">
                      <tr>
                        <th width="45%" scope="col" class="border-bottom-0">SKU规则</th>
                        <th width="35%" scope="col" class="border-bottom-0">2D图纸</th>
                        <th width="20%" scope="col" class="border-bottom-0">操作</th>
                      </tr>
                      </thead>
                      <tbody id="value11"></tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4" >
                <div class="card card-small overflow-hidden mb-4">
                  <div class="card-header ">
                    <h6 class="m-0 text"><button type="submit"  class="btn btn-success" onclick="value12()">产品视频</button></h6>
                  </div>
                  <div class="card-body p-0 pb-3  ">
                    <table class="table mb-0">
                      <thead class="thead">
                      <tr>
                        <th width="45%" scope="col" class="border-bottom-0">SKU规则</th>
                        <th width="35%" scope="col" class="border-bottom-0">产品视频</th>
                        <th width="20%" scope="col" class="border-bottom-0">操作</th>
                      </tr>
                      </thead>
                      <tbody id="value12"></tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-4" >
                <div class="card card-small overflow-hidden mb-4">
                  <div class="card-header ">
                    <h6 class="m-0 text"><button type="submit"  class="btn btn-success" onclick="value13()">Logo</button></h6>
                  </div>
                  <div class="card-body p-0 pb-3  ">
                    <table class="table mb-0">
                      <thead class="thead">
                      <tr>
                        <th width="45%" scope="col" class="border-bottom-0">SKU规则</th>
                        <th width="35%" scope="col" class="border-bottom-0">LOGO</th>
                        <th width="20%" scope="col" class="border-bottom-0">操作</th>
                      </tr>
                      </thead>
                      <tbody id="value13"></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <input id="coreid" type="hidden" th:value="${id}">
    <script src="/scripts/jquery-3.3.1.min.js" ></script>
    <script src="/scripts/popper.min.js" ></script>
    <script src="/scripts/bootstrap.min.js" ></script>
    <script src="/scripts/shards.min.js"></script>
    <script src="/scripts/jquery.sharrre.min.js"></script>
    <script src="/scripts/extras.1.1.0.min.js"></script>
    <script src="/scripts/jquery.cookie.min.js" ></script>
    <script src="/scripts/buttons.js"></script>
  <script th:inline="none">

      if($.cookie("ACCESS_TOKEN")==undefined){
          window.location.href="/system/login";
      }
      function logout() {
          $.removeCookie("ACCESS_TOKEN", {path:"/",domain:"chuanqi.lingjianbang.com"});
          window.location.href="/system/login";
      }
      var settings = {
          "async": true,
          "crossDomain": true,
          "url": "/user/get",
          "method": "GET",
          "processData": false,
          "headers": {
              "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
              "cache-control": "no-cache",
              "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
          }
      }

      $.ajax(settings).done(function (response) {
          if(response.status!=200){
              window.location.href="/system/login";
          }else {
              $("#userimage").attr("src",response.data.headportrait);
              $("#username").html(response.data.name);
              if(response.data.ybcount!=0){
                  $("#yb").html(response.data.ybcount);
              }
              if(response.data.fkcount!=0) {
                  $("#fk").html(response.data.fkcount);
              }
          }
      });

      var settings = {
          "async": true,
          "crossDomain": true,
          "url": "/basedata/getskunames?id="+$("#coreid").val(),
          "method": "GET",
          "processData": false
      }

      var skunames=[];
      $.ajax(settings).done(function (res) {
         skunames= res.data;
         console.log(skunames);
          value1();
          value2();
          value3();
          value4();
          value5();
          value6();
          value7();
          value8();
          value9();
          value10();
          value11();
          value12();
          value13();
      });

      var data=[[],[],[],[],[],[],[],[],[],[],[],[],[]];


      function value1() {
          var skuname="";
          var i=0;
          skunames.forEach(function (value) {
              var options="";
              value.forEach(function (v) {
                  options+="<option value=\""+v+"\">"+v+"</option>";
              })
              skuname+= "<select id='p0r"+data[0].length+"s"+i+"' style=\"border-style:none;\" >\n" +
                  "<option value=\"\">任意</option>\n" + options+
                  "</select>";
              i++;
          });

          $("#value1").append("  <tr id='trp0r"+data[0].length+"' >\n" +
              "<td style='padding: 2px 10px' >" +skuname+ "</td>\n" +
              "<td style='padding: 2px 10px' ><input id='p0r"+data[0].length+"' type='text' style='width: 100px' value='' placeholder='地区'></td>" +
              "<td style='padding: 2px 10px' ><button class='btn btn-sm btn-danger ' onclick=\"rm('trp0r"+data[0].length+"')\">删除</button></td>\n" +
              "</tr>");
          data[0].push(0);
      }
      function value2() {
          var skuname="";
          var i=0;
          skunames.forEach(function (value) {
              var options="";
              value.forEach(function (v) {
                  options+="<option value=\""+v+"\">"+v+"</option>";
              })
              skuname+= "<select id='p1r"+data[1].length+"s"+i+"' style=\"border-style:none;\" >\n" +
                  "<option value=\"\">任意</option>\n" + options+
                  "</select>";
              i++;
          });
          $("#value2").append("  <tr id='trp1r"+data[1].length+"'>\n" +
              "<td style='padding: 2px 10px' >" +skuname+ "</td>\n" +
              "<td style='padding: 2px 10px' ><input id='p1r"+data[1].length+"' type='text' style='width: 50px' placeholder='样品单价' value='' >/元</td>" +
              "<td style='padding: 2px 10px' ><buttion class='btn btn-sm btn-danger ' onclick=\"rm('trp1r"+data[1].length+"')\">删除</button></td>\n" +
              "</tr>");
          data[1].push(0);
      }
      function value3() {
          var skuname="";
          var i=0;
          skunames.forEach(function (value) {
              var options="";
              value.forEach(function (v) {
                  options+="<option value=\""+v+"\">"+v+"</option>";
              })
              skuname+= "<select id='p2r"+data[2].length+"s"+i+"' style=\"border-style:none;\" >\n" +
                  "<option value=\"\">任意</option>\n" + options+
                  "</select>";
              i++;
          });
          $("#value3").append("  <tr id='trp2r"+data[2].length+"'>\n" +
              "<td style='padding: 2px 10px' >" +skuname+ "</td>\n" +
              "<td style='padding: 2px 10px' ><input id='p2r"+data[2].length+"' type='text' style='width: 50px' placeholder='批量价格' value=''>/元</td>" +
              "<td style='padding: 2px 10px' ><buttion class='btn btn-sm btn-danger ' onclick=\"rm('trp2r"+data[2].length+"')\">删除</button></td>\n" +
              "</tr>");
          data[2].push(0);
      }
      function value4() {
          var skuname="";
          var i=0;
          skunames.forEach(function (value) {
              var options="";
              value.forEach(function (v) {
                  options+="<option value=\""+v+"\">"+v+"</option>";
              })
              skuname+= "<select id='p3r"+data[3].length+"s"+i+"' style=\"border-style:none;\" >\n" +
                  "<option value=\"\">任意</option>\n" + options+
                  "</select>";
              i++;
          });
          $("#value4").append("  <tr id='trp3r"+data[3].length+"'>\n" +
              "<td style='padding: 2px 10px' >" +skuname+ "</td>\n" +
              "<td style='padding: 2px 10px' ><input id='p3r"+data[3].length+"' type='text' style='width: 50px' value='' placeholder='最小包装量'>/MPQ/件</td>" +
              "<td style='padding: 2px 10px' ><buttion class='btn btn-sm btn-danger ' onclick=\"rm('trp3r"+data[3].length+"')\">删除</button></td>\n" +
              "</tr>");
          data[3].push(0);
      }
      function value5() {
          var skuname="";
          var i=0;
          skunames.forEach(function (value) {
              var options="";
              value.forEach(function (v) {
                  options+="<option value=\""+v+"\">"+v+"</option>";
              })
              skuname+= "<select id='p4r"+data[4].length+"s"+i+"' style=\"border-style:none;\" >\n" +
                  "<option value=\"\">任意</option>\n" + options+
                  "</select>";
              i++;
          });
          $("#value5").append("  <tr id='trp4r"+data[4].length+"'>\n" +
              "<td style='padding: 2px 10px' >" +skuname+ "</td>\n" +
              "<td style='padding: 2px 10px' ><input id='p4r"+data[4].length+"' type='text' style='width: 50px' value='' placeholder='最小起订量'>/MOQ/件</td>" +
              "<td style='padding: 2px 10px' ><buttion class='btn btn-sm btn-danger ' onclick=\"rm('trp4r"+data[4].length+"')\">删除</button></td>\n" +
              "</tr>");
          data[4].push(0);
      }
      function value6() {
          var skuname="";
          var i=0;
          skunames.forEach(function (value) {
              var options="";
              value.forEach(function (v) {
                  options+="<option value=\""+v+"\">"+v+"</option>";
              })
              skuname+= "<select id='p5r"+data[5].length+"s"+i+"' style=\"border-style:none;\" >\n" +
                  "<option value=\"\">任意</option>\n" + options+
                  "</select>";
              i++;
          });
          $("#value6").append("  <tr id='trp5r"+data[5].length+"'>\n" +
              "<td style='padding: 2px 10px' >" +skuname+ "</td>\n" +
              "<td style='padding: 2px 10px' >" +
              "<select id='p5r"+data[5].length+"'>"+
              "<option value='不提供'>不提供</option>" +
              "<option value='12个月'>12个月</option>" +
              "<option value='24个月'>24个月</option>" +
              "<option value='36个月'>36个月</option>" +
              "<option value='36+'>36+</option>" +
              "<option value='终身质保'>终身质保</option>" +
              "</select>" +
              "</td>" +
              "<td style='padding: 2px 10px' ><buttion class='btn btn-sm btn-danger ' onclick=\"rm('trp5r"+data[5].length+"')\">删除</button></td>\n" +
              "</tr>");
          data[5].push(0);
      }
      function value7() {
          var skuname="";
          var i=0;
          skunames.forEach(function (value) {
              var options="";
              value.forEach(function (v) {
                  options+="<option value=\""+v+"\">"+v+"</option>";
              })
              skuname+= "<select id='p6r"+data[6].length+"s"+i+"' style=\"border-style:none;\" >\n" +
                  "<option value=\"\">任意</option>\n" + options+
                  "</select>";
              i++;
          });
          $("#value7").append("  <tr id='trp6r"+data[6].length+"'>\n" +
              "<td style='padding: 2px 10px' >" +skuname+ "</td>\n" +
              "<td style='padding: 2px 10px' >" +
              "<select id='p6r"+data[6].length+"'>" +
              "<option value='免费&免运费'>免费&免运费</option>" +
              "<option value='免费&运费到付'>免费&运费到付</option>" +
              "<option value='收费&免运费'>收费&免运费</option>" +
              "<option value='收费&运费到付'>收费&运费到付</option>" +
              "</select>" +
              "</td>" +
              "<td style='padding: 2px 10px' ><buttion class='btn btn-sm btn-danger ' onclick=\"rm('trp6r"+data[6].length+"')\">删除</button></td>\n" +
              "</tr>");
          data[6].push(0);
      }
      function value8() {
          var skuname="";
          var i=0;
          skunames.forEach(function (value) {
              var options="";
              value.forEach(function (v) {
                  options+="<option value=\""+v+"\">"+v+"</option>";
              })
              skuname+= "<select id='p7r"+data[7].length+"s"+i+"' style=\"border-style:none;\" >\n" +
                  "<option value=\"\">任意</option>\n" + options+
                  "</select>";
              i++;
          });
          $("#value8").append("  <tr id='trp7r"+data[7].length+"'>\n" +
              "<td style='padding: 2px 10px' >" +skuname+ "</td>\n" +
              "<td style='padding: 2px 10px' >" +
              "<select id='p7r"+data[7].length+"'>" +
              "<option value='免费&免运费'>免费&免运费</option>" +
              "<option value='免费&运费到付'>免费&运费到付</option>" +
              "</select>" +
              "</td>" +
              "<td style='padding: 2px 10px' ><buttion class='btn btn-sm btn-danger ' onclick=\"rm('trp7r"+data[7].length+"')\">删除</button></td>\n" +
              "</tr>");
          data[7].push(0);
      }
      function value9() {
          var skuname="";
          var i=0;
          skunames.forEach(function (value) {
              var options="";
              value.forEach(function (v) {
                  options+="<option value=\""+v+"\">"+v+"</option>";
              })
              skuname+= "<select id='p8r"+data[8].length+"s"+i+"' style=\"border-style:none;\" >\n" +
                  "<option value=\"\">任意</option>\n" + options+
                  "</select>";
              i++;
          });
          $("#value9").append("  <tr id='trp8r"+data[8].length+"'>\n" +
              "<td style='padding: 2px 10px' >" +skuname+ "</td>\n" +
              "<td style='padding: 2px 10px' ><input  onchange=\"sc('p8r"+data[8].length+"',this)\"   type='file'  style='width: 100%'  /><input type='hidden'  id='p8r"+data[8].length+"'></td>" +
              "<td style='padding: 2px 10px' ><buttion class='btn btn-sm btn-danger ' onclick=\"rm('trp8r"+data[8].length+"')\">删除</button></td>\n" +
              "</tr>");
          data[8].push(0);
      }
      function value10() {
          var skuname="";
          var i=0;
          skunames.forEach(function (value) {
              var options="";
              value.forEach(function (v) {
                  options+="<option value=\""+v+"\">"+v+"</option>";
              })
              skuname+= "<select id='p9r"+data[9].length+"s"+i+"' style=\"border-style:none;\" >\n" +
                  "<option value=\"\">任意</option>\n" + options+
                  "</select>";
              i++;
          });
          $("#value10").append("  <tr id='trp9r"+data[9].length+"'>\n" +
              "<td style='padding: 2px 10px' >" +skuname+ "</td>\n" +
              "<td style='padding: 2px 10px' ><input onchange=\"sc('p9r"+data[9].length+"',this)\"    type='file'  style='width: 100%'  /><input type='hidden'  id='p9r"+data[9].length+"'></td>" +
              "<td style='padding: 2px 10px' ><buttion class='btn btn-sm btn-danger ' onclick=\"rm('trp9r"+data[9].length+"')\">删除</button></td>\n" +
              "</tr>");
          data[9].push(0);
      }
      function value11() {
          var skuname="";
          var i=0;
          skunames.forEach(function (value) {
              var options="";
              value.forEach(function (v) {
                  options+="<option value=\""+v+"\">"+v+"</option>";
              })
              skuname+= "<select id='p10r"+data[10].length+"s"+i+"' style=\"border-style:none;\" >\n" +
                  "<option value=\"\">任意</option>\n" + options+
                  "</select>";
              i++;
          });
          $("#value11").append("  <tr id='trp10r"+data[10].length+"'>\n" +
              "<td style='padding: 2px 10px' >" +skuname+ "</td>\n" +
              "<td style='padding: 2px 10px' ><input onchange=\"sc('p10r"+data[10].length+"',this)\"   type='file'  style='width: 100%'  /><input type='hidden'  id='p10r"+data[10].length+"'></td>" +
              "<td style='padding: 2px 10px' ><buttion class='btn btn-sm btn-danger ' onclick=\"rm('trp10r"+data[10].length+"')\">删除</button></td>\n" +
              "</tr>");
          data[10].push(0);
      }
      function value12() {
          var skuname="";
          var i=0;
          skunames.forEach(function (value) {
              var options="";
              value.forEach(function (v) {
                  options+="<option value=\""+v+"\">"+v+"</option>";
              })
              skuname+= "<select id='p11r"+data[11].length+"s"+i+"' style=\"border-style:none;\" >\n" +
                  "<option value=\"\">任意</option>\n" + options+
                  "</select>";
              i++;
          });
          $("#value12").append("  <tr id='trp11r"+data[11].length+"'>\n" +
              "<td style='padding: 2px 10px' >" +skuname+ "</td>\n" +
              "<td style='padding: 2px 10px' ><input onchange=\"sc('p11r"+data[11].length+"',this)\"  type='file'  style='width: 100%'  /><input type='hidden'  id='p11r"+data[11].length+"'></td>" +
              "<td style='padding: 2px 10px' ><buttion class='btn btn-sm btn-danger ' onclick=\"rm('trp11r"+data[11].length+"')\">删除</button></td>\n" +
              "</tr>");
          data[11].push(0);
      }
      function value13() {
          var skuname="";
          var i=0;
          skunames.forEach(function (value) {
              var options="";
              value.forEach(function (v) {
                  options+="<option value=\""+v+"\">"+v+"</option>";
              })
              skuname+= "<select id='p12r"+data[12].length+"s"+i+"' style=\"border-style:none;\" >\n" +
                  "<option value=\"\">任意</option>\n" + options+
                  "</select>";
              i++;
          });
          $("#value13").append("  <tr id='trp12r"+data[12].length+"'>\n" +
              "<td style='padding: 2px 10px' >" +skuname+ "</td>\n" +
              "<td style='padding: 2px 10px' ><input onchange=\"sc('p12r"+data[12].length+"',this)\"  type='file'  style='width: 100%'  /><input type='hidden'  id='p12r"+data[12].length+"'></td>" +
              "<td style='padding: 2px 10px' ><buttion class='btn btn-sm btn-danger ' onclick=\"rm('trp12r"+data[12].length+"')\">删除</button></td>\n" +
              "</tr>");
          data[12].push(0);
      }
      
      function rm(obj) {
          $("#"+obj).remove();
      }

      function getObjectURL(file) {
          var url = null;
          if (window.createObjcectURL != undefined) {
              url = window.createOjcectURL(file);
          } else if (window.URL != undefined) {
              url = window.URL.createObjectURL(file);
          } else if (window.webkitURL != undefined) {
              url = window.webkitURL.createObjectURL(file);
          }
          return url;
      }

      function sc(id,i) {
                  var form = new FormData();
                  form.append('file', i.files[0]); // 第三个参数为文件名
                  $.ajax({
                      type: 'POST',
                      url : "/file/upload",
                      data: form ,
                      processData: false,
                      contentType: false,
                  }).done(function(result) {
                      console.log(id)
                      alert("上传成功！");
                      $("#"+id).val(result.data);
                  });

      }

      function save(obj) {
          $(obj).attr("disabled",true);
          var values=[];
          for (var i=0;i<data.length;i++){
              for (var a=0;a<data[i].length;a++){
                  if($("#p"+i+"r"+a).length>0) {
                      var skuname = [];
                      for (var b = 0; b < skunames.length; b++) {
                          skuname.push($("#p" + i + "r" + a + "s" + b).val());
                      }
                      values.push({"skuname": skuname, "value": $("#p" + i + "r" + a).val(), "type": i});
                  }
              }
          }
          var settings = {
              "async": true,
              "crossDomain": true,
              "url": "/productclass/saveSkuInfos?id="+$("#coreid").val(),
              "method": "PUT",
              "processData": false,
              "data":JSON.stringify(values),
              "contentType": "application/json"
          }

          $.ajax(settings).done(function (res) {
            alert("已保存"+(values.length-5)+"条数据！");
              window.open("https://www.lingjianbang.com/level5/"+$("#coreid").val(),'_blank','');
              location.href = "/system/fiveclass?id=0&comid=0";
          });
      }
  </script>
  </body>
</html>