<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>零件邦-传奇</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="/styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="/styles/extras.1.1.0.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico">
  </head>
  <body class="h-100">
    <div class="container-fluid">
      <div class="row">
        <!-- Main Sidebar -->
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
          <div class="main-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                <div class="d-table m-auto">
                  <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src="/images/favicon.ico" alt="Shards Dashboard">
                  <span class="d-none d-md-inline ml-1">零件邦之传奇</span>
                </div>
              </a>
            </nav>
          </div>
          <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
            <div class="input-group input-group-seamless ml-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-search"></i>
                </div>
              </div>
              <input class="navbar-search form-control" id="searchtexta" onchange="init()" type="text" placeholder="搜索用户 可输入用户名 手机号码 ..." aria-label="Search"> </div>
          </form>
          <div class="nav-wrapper">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link " href="/system/index">
                  <i class="material-icons">view_module</i>
                  <span>首页</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/system/company">
                  <i class="material-icons">vertical_split</i>
                  <span>补全公司信息</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/system/tasks">
                  <i class="material-icons">vertical_split</i>
                  <span>已完成任务列表</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/system/filelib">
                  <i class="material-icons">vertical_split</i>
                  <span>样本提交列表 <span class="badge badge-pill badge-danger" id="yb"></span></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/system/fk">
                  <i class="material-icons">vertical_split</i>
                  <span>反馈信息 <span class="badge badge-pill badge-danger" id="fk"></span></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/system/fiveclass">
                  <i class="material-icons">vertical_split</i>
                  <span>产品综合信息</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/system/userdata">
                  <i class="material-icons">vertical_split</i>
                  <span>统计数据</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/system/messages">
                  <i class="material-icons">vertical_split</i>
                  <span>消息中心</span>
                </a>
              </li>
            </ul>
          </div>
        </aside>
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <div class="main-navbar sticky-top bg-white">
            <!-- Main Navbar -->
            <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
              <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
                <div class="input-group input-group-seamless ml-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                  <input class="navbar-search form-control" id="searchtext" oninput="init()" type="text" placeholder="搜索用户 可输入用户名 手机号码 ..." aria-label="Search"> </div>
              </form>
              <ul class="navbar-nav border-left flex-row ">
                <li class="nav-item dropdown" ondblclick="logout()">
                  <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="user-avatar rounded-circle mr-2" id="userimage" src="" alt="无图片">
                    <span class="d-none d-md-inline-block" id="username">登录</span>
                    <span style="color: #2d53fe;">双击退出</span>
                  </a>
                </li>
              </ul>
              <nav class="nav">
                <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                  <i class="material-icons">&#xE5D2;</i>
                </a>
              </nav>
            </nav>
          </div>
          <!-- / .main-navbar -->
          <div class="main-content-container container-fluid px-4">
            <!-- Page Header -->
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">零件邦</span>
                <h3 class="page-title">数据统计</h3>
              </div>
            </div>
            <!-- End Page Header -->
            <!-- Default Light Table -->
            <div class="row">
              <div class="col-lg-6">
                <div id="container" style="min-width:400px;height:250px"></div>
              </div>
              <div class="col-lg-6">
                <div id="container1" style="min-width:400px;height:250px"></div>
              </div>
            </div>
              <div class="row" style="margin-top: 20px;">
                  <div class="col">
                      <div class="card card-small overflow-hidden mb-4">
                          <div class="card-header border-bottom">
                              <h6 class="m-0 ">用户列表信息   <input type="hidden" id="page" value="0" />
                              <select style="font-size: 12px" id="size" onclick="init()">
                                <option value="10"> 十行显示   </option>
                                <option value="20"> 二十行显示  </option>
                                <option value="50"> 五十行显示  </option>
                                <option value="100"> 一百行显示 </option>
                              </select>
                              </h6>
                          </div>
                          <div class="card-body p-0 pb-3 bg-light text-center">
                              <table class="table table mb-0">
                                  <thead class="thead-light">
                                  <tr>
                                      <th width="15%" class="border-bottom-0">昵称</th>
                                      <th width="15%" scope="col" class="border-bottom-0">用户姓名</th>
                                      <th width="15%" scope="col" class="border-bottom-0">注册手机号码</th>
                                      <th width="10%" scope="col" class="border-bottom-0">帐号类型</th>
                                      <th width="10%" scope="col" class="border-bottom-0">帐号状态</th>
                                      <th width="15%" scope="col" class="border-bottom-0">注册时间</th>
                                      <th width="15%" scope="col" class="border-bottom-0">操作</th>
                                  </tr>
                                  </thead>
                                  <tbody id="data">
                                  </tbody>
                              </table>
                              <input type="hidden" id="allpagecount" />
                            <input type="hidden" id="allcount" />

                          </div>
                          <div class="btn-group btn-group-toggle mb-3" data-toggle="buttons" style="margin-left: 10px;">
                            <label class="btn btn-white active" onclick="index()">
                              <input type="radio" name="options" id="option1" autocomplete="off" checked=“checked” > 首页 </label>
                            <label class="btn btn-white" onclick="back()">
                              <input type="radio" name="options" id="option2" autocomplete="off" > 上一页 </label>
                            <label class="btn btn-white" onclick="next()">
                              <input type="radio" name="options" id="option3" autocomplete="off"> 下一页 </label>
                            <label class="btn btn-white " onclick="last()">
                              <input type="radio" name="options" id="option4" autocomplete="off" > 末页 </label>
                            <div style="margin-top: 4px;margin-left: 10px;">当前第 <span id="pgshow" ></span> 页/ 共 <span id="allpage">2</span> 页</div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End Default Dark Table -->
          </div>
        </main>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
    <script src="/scripts/extras.1.1.0.min.js"></script>
    <script src="/scripts/shards-dashboards.1.1.0.min.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/highcharts-more.js"></script>
    <script src="/scripts/jquery.cookie.min.js" type="text/javascript"></script>
  <script>

    function logout() {
      $.removeCookie("ACCESS_TOKEN", {path:"/",domain:"chuanqi.lingjianbang.com"});
      window.location.href="/system/login";
    }

    var settings = {
      "async": true,
      "crossDomain": true,
      "url": "/user/get",
      "method": "GET",
      "processData": false,
      "headers": {
        "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
        "cache-control": "no-cache",
        "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
      }
    }


    $.ajax(settings).done(function (response) {
      if(response.status!=200){
        window.location.href="/system/login";
      }else {
        if(response.data.ybcount!=0){
          $("#yb").html(response.data.ybcount);
        }
        if(response.data.fkcount!=0) {
          $("#fk").html(response.data.fkcount);
        }
        $("#userimage").attr("src",response.data.headportrait);
        $("#username").html(response.data.name);
      }
    });

    function index() {
      $("#page").val(0);
      init();
    }

    function next() {
      if($("#allpagecount").val()-1>$("#page").val()) {
        $("#page").val(($("#page").val()*1)+1);
        init();
      }else {
        alert("最后一页了！")
      }
    }

    function back() {
      if($("#page").val()!=0) {
        $("#page").val($("#page").val() - 1);
        init();
      }else {
        alert("没有了！")
      }
    }

    function last() {
      $("#page").val( $("#allpagecount").val()-1);
      init();
    }

    init();
    function init() {
      $("#allpage").html(Math.ceil($("#allcount").val()/$("#size").val()));
      $("#pgshow").html(($("#page").val()*1)+1);
        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "/user/getAllByPage?page="+$("#page").val()+"&size="+$("#size").val()+"&text="+$("#searchtext").val(),
            "method": "GET",
            "headers": {
              "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
              "cache-control": "no-cache",
              "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
            }
        }

        $.ajax(settings).done(function (response) {
            $("#data").html("");
            response.data.forEach(function(v,i){
              var name=v.name;
              if(v.name==undefined){
                name="<span style='color: #6c757d;font-size: 12px;'>暂无名称</span>";
              }

              var type=v.type;
              if(v.type=="SeniorAdministrator"){
                type=" <button type=\"button\" style='padding: 2px 10px' class=\"mb-2 btn btn-sm btn-success mr-1\">高级管理员</button>";
              }else if(v.type=="GeneralAdministrator"){
                type="<button type=\"button\" style='padding: 2px 10px' class=\"mb-2 btn btn-sm btn-primary mr-1\">普通管理员</button>";
              }else if(v.type=="GeneralPersonal"){
                type="<button type=\"button\" style='padding: 2px 10px' class=\"mb-2 btn btn-sm btn-info mr-1\">个人用户</button>";
              }else if(v.type=="AdvancedPersonal"){
                type="<button type=\"button\" style='padding: 2px 10px' class=\"mb-2 btn btn-sm btn-secondary mr-1\">高级个人用户</button>";
              }else if(v.type=="GeneralCompany"){
                type="<button type=\"button\" style='padding: 2px 10px' class=\"mb-2 btn btn-sm btn-danger mr-1\">企业用户</button>";
              }else if(v.type=="AdvancedCompany"){
                type="<button type=\"button\" style='padding: 2px 10px' class=\"mb-2 btn btn-sm btn-warning mr-1\">高级企业用户</button>";
              }

              var status=v.status;
              if(v.status=="Normal"){
                status="<button type=\"button\" style='padding: 2px 10px' class=\"mb-2 btn btn-sm btn-outline-primary mr-1\">状态正常</button>";
              }else if(v.status=="Abnormal"){
                status="<button type=\"button\" style='padding: 2px 10px' class=\"mb-2 btn btn-sm btn-outline-danger mr-1\">状态异常</button>";
              }else if(v.status=="Checking"){
                status="<button type=\"button\" style='padding: 2px 10px' class=\"mb-2 btn btn-sm btn-outline-warning mr-1\">检查中</button>";
              }else if(v.status=="auth"){
                status="<button type=\"button\" style='padding: 2px 10px' class=\"mb-2 btn btn-sm btn-outline-success mr-1\">已认证</button>";
              }
                $("#data").append("<tr>" +
                    "                          <td style='padding: 5px'><img class=\"user-avatar rounded-circle mr-2\" style='width: 30px;max-height: 30px;margin-right: 10px;' src='"+v.headportrait+"'>"+v.nikename+"</td>" +
                    "                          <td style='padding: 5px'>"+name+"</td>" +
                    "                          <td style='padding: 5px'>"+v.phonenumber+"</td>" +
                    "                          <td style='padding: 5px'>"+type+"</td>" +
                    "                          <td style='padding: 5px'>"+status+"</td>" +
                    "                          <td style='padding: 5px'>"+v.create_time+"</td>" +
                    "                          <td style='padding: 5px'>test</td>" +
                    "                        </tr>");
            });
        });
    }

    Highcharts.setOptions({
      global: {
        useUTC: false
      }
    });
    function activeLastPointToolip(chart) {
      var points = chart.series[0].points;
      chart.tooltip.refresh(points[points.length -1]);
    }
    var chart = Highcharts.chart('container', {
      chart: {
        type: 'spline',
        marginRight: 10,
        events: {
          load: function () {
            var series = this.series[0],
                    chart = this;
            activeLastPointToolip(chart);
            setInterval(function () {
              var x = (new Date()).getTime();
              $.ajax({
                url: '/usersecurity/userdata_count',
                type: 'GET',     // 请求类型，常用的有 GET 和 POST
                data: {
                  // 请求参数
                },
                success: function(res) { // 接口调用成功回调函数
                  // data 为服务器返回的数据
                  series.addPoint([x, res.data], true, true);
                }
              });
              activeLastPointToolip(chart);
            }, 1000*60);
          }
        }
      },
      title: {
        text: '用户注册实时数据'
      },
      xAxis: {
        type: 'datetime',
        tickPixelInterval: 150
      },
      yAxis: {
        title: {
          text: null
        }
      },
      tooltip: {
        formatter: function () {
          return '<b>' + this.series.name + '</b><br/>' +
                  Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                  Highcharts.numberFormat(this.y, 0)+'人';
        }
      },
      legend: {
        enabled: false
      },
      series: [{
        name: '用户增长数据',
        data: (function () {
          // 生成随机值
          var data = [],
                  time = (new Date()).getTime(),
                  i;
          for (i = -19; i <= 0; i += 1) {
            data.push({
              x: time + i * 1000,
              y: (function () {
                $.ajax({
                  url: '/usersecurity/userdata_count',
                  type: 'GET',     // 请求类型，常用的有 GET 和 POST
                  data: {
                    // 请求参数
                  },
                  success: function(res) { // 接口调用成功回调函数
                    // data 为服务器返回的数据
                    return  res.data;
                  }
                });
              })
            });
          }
          return data;
        }())
      }]
    });

    $.ajax({
      url: '/user/getUserCount',
      type: 'GET',     // 请求类型，常用的有 GET 和 POST
      data: {
        // 请求参数
      },
      success: function(res) { // 接口调用成功回调函数
        $("#allpage").html(Math.ceil(res.data[0]/$("#size").val()));
        $("#allpagecount").val(Math.ceil(res.data[0]/$("#size").val()));
        $("#allcount").val(res.data[0]);
        var chart = Highcharts.chart('container1', {
          chart: {
            type: 'column',
            margin: 10,
            options3d: {
              enabled: true,
              alpha: 10,
              beta: 25,
              depth: 70,
              viewDistance: 100,      // 视图距离，它对于计算角度影响在柱图和散列图非常重要。此值不能用于3D的饼图
              frame: {                // Frame框架，3D图包含柱的面板，我们以X ,Y，Z的坐标系来理解，X轴与 Z轴所形成
                // 的面为bottom，Y轴与Z轴所形成的面为side，X轴与Y轴所形成的面为back，bottom、
                // side、back的属性一样，其中size为感官理解的厚度，color为面板颜色
                bottom: {
                  size: 10
                },
                side: {
                  size: 1,
                  color: 'transparent'
                },
                back: {
                  size: 1,
                  color: 'transparent'
                }
              }
            },
          },
          title: {
            text: '用户注册人数概述统计'
          },
          subtitle: {
            text: '零件邦用户'
          },
          xAxis: {
            categories: ['所有注册人数','今年注册人数', '本月注册人数', '今日注册人数']
          },
          series: [{
            type: 'column',
            colorByPoint: true,
            data: res.data,
            showInLegend: false
          }]
        });
      }
    });



  </script>
  </body>
</html>